body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e0e0e0; /* Fundo cinza escritório */
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.main-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Utilitário para esconder coisas */
.hidden {
    display: none !important;
}

/* Cartões brancos */
.card-login, .card-admin {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Inputs bonitos */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botões */
button {
    cursor: pointer;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 15px;
    transition: 0.2s;
}

.btn-salvar {
    background-color: #2e7d32;
    color: white;
    width: 100%;
}

    .btn-salvar:hover {
        background-color: #1b5e20;
    }

.btn-sair {
    background-color: #c62828;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
}

.erro {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Layout do Formulário */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas */
    gap: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.full-width {
    grid-column: span 2;
}
/* Ocupa as duas colunas */

.cabecalho-painel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.link-loja {
    display: block;
    margin-top: 20px;
    color: #555;
    text-decoration: none;
}
