/* style.css */

/* Define a fonte padrão e a cor de fundo rosinha */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fce4ec;
    padding: 20px;
}

/* Centraliza o título e muda a cor para um vinho */
h1 {
    text-align: center;
    color: #880e4f;
}

/* O Container é a "Mesa" onde jogamos as cartas */
.container {
    display: flex;
    flex-wrap: wrap; /* Se faltar espaço, joga pra linha de baixo */
    gap: 20px; /* Espaço entre as cartas */
    justify-content: center;
}

/* O Visual do Cartão individual */
.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s; /* Animação suave */
}

    .card:hover {
        transform: scale(1.05);
    }
    /* Zoom ao passar o mouse */

    .card img {
        width: 100%;
        height: 250px;
        object-fit: cover; /* Corta a imagem para caber no quadrado */
        border-radius: 10px;
        margin-bottom: 10px;
    }

h3 {
    margin: 10px 0;
    color: #333;
    font-size: 1.2rem;
}

p {
    color: #666;
    font-size: 0.9rem;
}

.preco {
    color: #2e7d32;
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px 0;
}

.btn-whats {
    background-color: #25D366;
    color: white;
    padding: 12px;
    text-decoration: none; /* Tira o sublinhado do link */
    border-radius: 25px;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

    .btn-whats:hover {
        background-color: #128c7e;
    }
